.App {
  text-align: center;
}

.calculator-display {
  height: 2em;
}

button {
  width: 3em;
  height: 3em;
  margin: 5px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
